---
Checks: >
    -*,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-narrowing-conversions,
    -bugprone-throw-keyword-missing,
    -bugprone-unchecked-optional-access,
    -bugprone-switch-missing-default-case,
    -bugprone-throwing-static-initialization,
    -bugprone-implicit-widening-of-multiplication-result,
    cppcoreguidelines-interfaces-global-init,
    cppcoreguidelines-pro-type-member-init,
    cppcoreguidelines-slicing,
    fuchsia-virtual-inheritance,
    google-build-explicit-make-pair,
    google-build-namespaces,
    google-global-names-in-headers,
    google-objc-*,
    google-runtime-operator,
    misc-definitions-in-headers,
    misc-misplaced-const,
    misc-new-delete-overloads,
    misc-non-copyable-objects,
    misc-redundant-expression,
    misc-static-assert,
    misc-uniqueptr-reset-release,
    misc-unused-*,
    modernize-avoid-bind,
    modernize-loop-convert,
    modernize-redundant-void-arg,
    modernize-replace-*,
    modernize-shrink-to-fit,
    modernize-unary-static-assert,
    modernize-use-bool-literals,
    modernize-use-emplace,
    modernize-use-noexcept,
    modernize-use-nullptr,
    modernize-use-override,
    modernize-use-transparent-functors,
    -performance-no-int-to-ptr,
    readability-container-size-empty,
    readability-delete-null-pointer,
    readability-deleted-default,
    readability-identifier-naming,
    readability-misleading-indentation,
    readability-misplaced-array-index,
    readability-non-const-parameter,
    readability-uniqueptr-delete-release

HeaderFilterRegex: ''
CheckOptions:
    modernize-loop-convert.UseCxx20ReverseRanges: false
