[submodule "qbs"]
	path = src/shared/qbs
	url = ../../qbs/qbs.git
	ignore = dirty
[submodule "perfparser"]
	path = src/tools/perfparser
	url = ../perfparser.git
	ignore = dirty
[submodule "litehtml"]
	path = src/plugins/help/qlitehtml/litehtml
	url = https://github.com/litehtml/litehtml.git
