QPushButton {
    border-image: url(:/qmldesigner/images/button_alignment_top_normal.png);   
 }
 
  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/button_alignment_top_pressed.png);
 }
 
 QPushButton:checked {
    border-image: url(:/qmldesigner/images/button_alignment_top_pressed.png);
 }
