QPushButton {
    border-image: url(:/qmldesigner/images/button_alignment_centerh_normal.png);
 }
 
  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/button_alignment_centerh_pressed.png);
 }
 
 QPushButton:checked {
    border-image: url(:/qmldesigner/images/button_alignment_centerh_pressed.png);
 }
