QPushButton {
    border-image: url(:/qmldesigner/images/button_alignment_right_normal.png);
 }
 
  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/button_alignment_right_pressed.png);
 }
 
 QPushButton:checked {
    border-image: url(:/qmldesigner/images/button_alignment_right_pressed.png);
 }
