QPushButton::checked
{
    border: 3px solid #2222aa;
    border-radius: 4px;
    border-image: none;
    background-color: #909090;
} 

QPushButton:pressed 
{
    border: 2px solid #000000;
}

QPushButton:flat {
    border: 1px solid #000000;
}

QPushButton:default {
    border-color: 1px solid black;
}

QPushButton {
    border: 2px solid #333333;
    color: white;
}

QFrame{
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px;
    background: #aaabae;
 }