QPushButton {
    border-image: url(:/qmldesigner/images/anchor-bottom-normal.png) 3;
    border-width: 3;
 }
 
  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/anchor-bottom-pressed.png) 3;
 }
 
 QPushButton:checked {
    border-image: url(:/qmldesigner/images/anchor-bottom-pressed.png) 3;
 }
