QPushButton {
    border-image: url(:/qmldesigner/images/anchor-fill-normal.png) 3;
    border-width: 3;
 }
 
  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/anchor-fill-pressed.png) 3;
 }
 
 QPushButton:checked {
    border-image: url(:/qmldesigner/images/anchor-fill-pressed.png) 3;
 }
