QPushButton {
    border-image: url(:/qmldesigner/images/anchor-right-normal.png);    
 }
 
  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/anchor-right-pressed.png);
 }
 
 QPushButton:checked {
    border-image: url(:/qmldesigner/images/anchor-right-pressed.png);
 }
