QPushButton {
    border-image: url(:/qmldesigner/images/button_color_gradient_normal.png);
 }
 
  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/button_color_gradient_pressed.png);
 }
 
 QPushButton:checked {
    border-image: url(:/qmldesigner/images/button_color_gradient_pressed.png);
 }
