QPushButton {
    border-image: url(:/qmldesigner/images/button_color_solid_normal.png);
 }
 
  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/button_color_solid_pressed.png);
 }
 
 QPushButton:checked {
    border-image: url(:/qmldesigner/images/button_color_solid_pressed.png);
 }
