<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleExecutable</key>
        <string>iostool</string>
        <key>CFBundleIdentifier</key>
        <string>org.qt-project.qt-creator.iosTool</string>
        <key>LSUIElement</key>
        <string>1</string>
</dict>
</plist>
