// Dummy comment to consume the first argument and suppress warnings %1

FontSection {
    anchors.left: parent.left
    anchors.right: parent.right
    caption: qsTr("Font")
    fontName: "%2"
    expanded: false
    level: 2
}
