    /* start narrow mode */

    body.narrow
    {
      background-image: none;
    }

    .narrow a {
      color: #44a51c;
    }

    .narrow .header, .narrow .header .content, .narrow .footer, .narrow .wrapper {
      margin: 0 7px;
      min-width: 300px;
    }

    .narrow .footer {
      margin: 0px;
    }

    .creator .header, .creator .header .content, .creator .footer, .creator .wrapper {
      margin: 0px;
      min-width: 300px;
    }
    .narrow .header
    {
      width: 100%;
      margin: 0;
      height: auto;
      background: #fff url(../images/header_bg.png) repeat-x 0 100%;
      padding: 10px 0 5px 0;
      overflow: visible;
    }

    .narrow .header .content
    {
    }

    .narrow .header #nav-logo
    {
      display: none;
    }

    .narrow .header .qtref
    {
      width: auto;
      height: auto;
      color: #363534;
      position: static;
      float: left;
      margin-left: 25px;
      font: bold 18px/1 Arial;
    }

    .narrow .header .qtref a
    {
      color: #00732F;
    }

    .narrow .header .qtref span
    {
      background-image: none;
      text-indent: 0;
    }

    .narrow .header #nav-topright
    {
      display: none;
    }

    .narrow .header #shortCut
    {
      clear: both;
      font-weight: normal;
      position: static;
      float: left;
      margin: 15px 0 0 25px;
      overflow: hidden;
      padding: 0;
      height: auto;
    }

    .narrow .header #shortCut ul
    {
      float: none;
      margin: 0;
      width: auto;
      font-size: 11px;
    }

    .narrow .header #shortCut ul li
    {
      background-image: none;
    }

    .narrow .header #shortCut ul .shortCut-topleft-active,
    .narrow .header #shortCut ul .shortCut-topleft-inactive
    {
      background-image: none;
      height: auto;
      padding: 0;
      width: auto;
    }
    .narrow .header #shortCut ul li a
    {
      color: #00732F;
    }

    .narrow .wrapper .hd
    {
        background: url(../images/bg_ul_blank.png) no-repeat 0 0;
    }

    .narrow .wrapper .bd
    {
        background: url(../images/bg_l_blank.png) repeat-y 0 0;
    }

    .narrow .wrapper .ft
    {
        background: url(../images/bg_ll_blank.png) no-repeat 0 0;
    }

    .narrow .sidebar
    {
        display: none;
    }

    .narrow .wrap
    {
        margin: 0 5px 0 5px;
    }

    .creator .wrap
    {
        margin: 0px;
		background:#FFFFFF;
    }
    .narrow .wrap .toolbar
    {
      border-bottom: none;
    }

    .narrow .wrap .content
    {
        padding-top: 15px;
    }
    .creator .wrap .content
    {
        padding-top: 10px;
    }
    .creator .wrap .content .guide
    {
        padding-top: 15px;
    }
    .narrow .wrap .feedback
    {
        display: none;
    }

    .narrow .wrap .breadcrumb ul li {
      font-weight: normal;
    }

    .narrow .wrap .breadcrumb ul li a {
      color: #44a51c;
    }

    .narrow .wrap .breadcrumb ul li.last a {
      color: #363534;
    }
    
    #narrowsearch {
      display: none;
    }

    .narrow #narrowsearch {
      display: block;
      float: right;
      margin-right: 25px;
      _position: relative;
    }

    .narrow #narrowsearch fieldset {
      _position: absolute;
      _margin-top: -1px;
    }

    .narrow #narrowsearch {
      background: url("http://doc.qt.nokia.com/prototype/html/images/sprites-combined.png") no-repeat scroll -6px -348px transparent;
      height: 21px;
      padding: 2px 0 0 5px;
      width: 167px;
    }

    .narrow #narrowsearch input {
      border: none;
      font: 13px/1.2 Verdana;
      height: 19px;
      outline: none;
      padding: 0;
      width: 158px;
      *border: 1px solid #fff;
      *height: 17px;
      _height: 18px;
    }

    .narrow .indexbox .indexIcon {
      display: none;
    }

    .narrow .indexboxcont .section {
      width: 64%;
      padding-left: 0;
    }
    
    .narrow .indexboxcont .sectionlist {
      width: 32.5%;
    }

    #narrowmenu {
      display: none;
      float: right;
      margin: 15px 40px 0 0;
      font-size: 11px;
    }

    .narrow #narrowmenu {
      display: block;
    }

    #narrowmenu a {
      line-height: 1.1;
      background: url(../images/arrow_down.png) no-repeat 100% 50%;
      white-space: nowrap;
      padding: 0 16px 0 5px;
    }

    #narrowmenu li {
      margin-left: 20px;
    }

    #narrowmenu li li {
      margin: 0 0 5px 0;
    }

    #narrowmenu li li a {
      padding: 0;
      background-image: none;
    }

    #narrowmenu li,
    #narrowmenu li ul {
      background-color: #fff;
	  margin-top:-1px;
    }

    #narrowmenu li ul {
      width: auto;
      padding: 5px;
    }

    .sf-menu li:hover ul, .sf-menu li.sfHover ul {
      top: 1.2em;
    }

    /* end narrow mode */
