QPushButton {
    border-image: url(:/qmldesigner/images/anchor-vertical-normal.png);
 }

  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/anchor-vertical-pressed.png);
 }

 QPushButton:checked {
    border-image: url(:/qmldesigner/images/anchor-vertical-pressed.png);
 }
