QPushButton {
    border-image: url(:/qmldesigner/images/anchor-left-normal.png);
 }

  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/anchor-left-pressed.png);
 }

 QPushButton:checked {
    border-image: url(:/qmldesigner/images/anchor-left-pressed.png);
 }
