QPushButton {
    border-image: url(:/qmldesigner/images/anchor-spacer.png);
 }

  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/anchor-spacer.png);
 }

 QPushButton:checked {
    border-image: url(:/qmldesigner/images/anchor-spacer.png);
 }
