QPushButton {
    border-image: url(:/qmldesigner/images/anchor-bottom-normal.png);
 }

QPushButton:pressed {
    border-image: url(:/qmldesigner/images/anchor-bottom-pressed.png);
 }

 QPushButton:checked {
    border-image: url(:/qmldesigner/images/anchor-bottom-pressed.png);
 }
