QPushButton {
    border-image: url(:/qmldesigner/images/anchor-fill-normal.png);
 }

  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/anchor-fill-pressed.png);
 }

 QPushButton:checked {
    border-image: url(:/qmldesigner/images/anchor-fill-pressed.png);
 }
