QPushButton {
    border-image: url(:/qmldesigner/images/anchor-horizontal-normal.png);
 }

  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/anchor-horizontal-pressed.png);
 }

 QPushButton:checked {
    border-image: url(:/qmldesigner/images/anchor-horizontal-pressed.png);
 }
