QPushButton {
    border-image: url(:/qmldesigner/images/aspectlockoff.png);
 }

  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/aspectlockset.png);
 }

 QPushButton:checked {
    border-image: url(:/qmldesigner/images/aspectlockset.png);
 }
