QPushButton {
    border-image: url(:/qmldesigner/images/button-normal-left.png);
 }

  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/button-pressed-left.png);
 }

 QPushButton:checked {
    border-image: url(:/qmldesigner/images/button-pressed-left.png);
 }
