QPushButton {
    border-image: url(:/qmldesigner/images/button-normal-middle.png);
    padding: 6px;
 }

  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/button-pressed-middle.png);
 }

 QPushButton:checked {
    border-image: url(:/qmldesigner/images/button-pressed-middle.png);
 }
