QPushButton {
    border-image: url(:/qmldesigner/images/button-normal-right.png);
    padding: 6px;
 }

  QPushButton:pressed {
    border-image: url(:/qmldesigner/images/button-pressed-right.png);
 }

 QPushButton:checked {
    border-image: url(:/qmldesigner/images/button-pressed-right.png);
 }
