<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIconFile</key>
			<string>profile.icns</string>
			<key>UTTypeDescription</key>
			<string>Qt Creator Makefile Based Project File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.qt-project.qtcreator-genericproject</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>creator</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIconFile</key>
			<string>profile.icns</string>
			<key>UTTypeDescription</key>
			<string>Quick Project File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>org.qt-project.qml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.qt-project.qtcreator-qmlproject</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>qmlproject</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIconFile</key>
			<string>profile.icns</string>
			<key>UTTypeDescription</key>
			<string>Qt Project File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.qt-project.pro</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pro</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIconFile</key>
			<string>prifile.icns</string>
			<key>UTTypeDescription</key>
			<string>Qt Project Include File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.qt-project.pri</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pri</string>
					<string>prf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIconFile</key>
			<string>profile.icns</string>
			<key>UTTypeDescription</key>
			<string>Qbs Project File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.qt-project.qbs</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>qbs</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Qt Resource File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.qt-project.qrc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>qrc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Qt UI File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.qt-project.ui</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ui</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Qt Markup Language</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.qt-project.qml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>qml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Qt Documentation</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.qt-project.qdoc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>qdoc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Qt Documentation Configuration</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.qt-project.qdocconf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>qdocconf</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.qt-project.pro</string>
				<string>org.qt-project.pri</string>
				<string>org.qt-project.qbs</string>
				<string>org.qt-project.qrc</string>
				<string>org.qt-project.ui</string>
				<string>org.qt-project.qml</string>
				<string>org.qt-project.qdoc</string>
				<string>org.qt-project.qdocconf</string>
				<string>org.qt-project.qtcreator-genericproject</string>
				<string>org.qt-project.qtcreator-qmlproject</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.c-source</string>
				<string>public.objective-c-source</string>
				<string>public.c-plus-plus-source</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-header</string>
				<string>com.sun.java-source</string>
				<string>com.netscape.javascript-source</string>
				<string>public.python-script</string>
				<string>public.plain-text</string>
				<string>com.apple.nspboard-type</string>
			</array>
		</dict>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>(C) @QTCREATOR_COPYRIGHT_YEAR@ The Qt Company Ltd</string>
	<key>CFBundleIconFile</key>
	<string>qtcreator</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>Qt Creator</string>
	<key>CFBundleIdentifier</key>
	<string>org.qt-project.qtcreator</string>
	<key>CFBundleVersion</key>
	<string>@FULL_VERSION@</string>
	<key>CFBundleShortVersionString</key>
	<string>@SHORT_VERSION@</string>
	<key>LSMinimumSystemVersion</key>
	<string>@MACOSX_DEPLOYMENT_TARGET@</string>
</dict>
</plist>
