<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeIconFile</key>
			<string>profile.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pro</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Qt Project File</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeIconFile</key>
			<string>prifile.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pri</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Qt Project Include File</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
                <dict>
                        <key>CFBundleTypeRole</key>
                        <string>Editor</string>
                        <key>CFBundleTypeIconFile</key>
                        <string>profile.icns</string>
                        <key>CFBundleTypeExtensions</key>
                        <array>
                                <string>creator</string>
                        </array>
                        <key>CFBundleTypeName</key>
                        <string>Qt Creator Makefile Based Project File</string>
                        <key>LSHandlerRank</key>
                        <string>Default</string>
                </dict>
                <dict>
                        <key>CFBundleTypeRole</key>
                        <string>Editor</string>
                        <key>CFBundleTypeIconFile</key>
                        <string>profile.icns</string>
                        <key>CFBundleTypeExtensions</key>
                        <array>
                                <string>qmlproject</string>
                        </array>
                        <key>CFBundleTypeName</key>
                        <string>QML Project File</string>
                        <key>LSHandlerRank</key>
                        <string>Default</string>
                </dict>
                <dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qrc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Qt Resource File</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ui</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Qt UI File</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>h</string>
				<string>hpp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Header File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cc</string>
				<string>CC</string>
				<string>cp</string>
				<string>CP</string>
				<string>cpp</string>
				<string>CPP</string>
				<string>cxx</string>
				<string>CXX</string>
				<string>c++</string>
				<string>C++</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>C++ Source File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mm</string>
				<string>MM</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Objective-C++ Source File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Objective-C Source File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c</string>
				<string>C</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>C Source File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Text File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSStringPboardType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
        <key>NSHumanReadableCopyright</key>
        <string>(C) 2008-2010 Nokia Corporation
Commercial Usage

Licensees holding valid Qt Commercial licenses may use this file in accordance with the Qt Commercial License Agreement provided with the Software or, alternatively, in accordance with the terms contained in a written agreement between you and Nokia.

GNU Lesser General Public License Usage

Alternatively, this plugin may be used under the terms of the GNU Lesser General Public License version 2.1 as published by the Free Software Foundation and appearing in the file LICENSE.LGPL included in the packaging of this file.  Please review the following information to ensure the GNU Lesser General Public License version 2.1 requirements will be met: http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html.</string>
	<key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>@TYPEINFO@</string>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>CFBundleIdentifier</key>
	<string>com.nokia.qtcreator</string>
	<key>CFBundleVersion</key>
	<string>1.3.82</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.82</string>
</dict>
</plist>
