body {
    margin: 0; font-size: 2em;
}
div {
    border: 0.2em solid red;
    padding: 0.8em;
    margin: 0.1em;
    background-color: #ffeeee;
}
#quit {
    background-color: gray;
    color: white;
    font-weight: bold;
    display: block;
    text-align: right;
}
